.general-alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 18px;
  margin: 10px 0;
  border-radius: 7px;
  font-size: 1.07em;
  font-weight: 500;
  min-width: 210px;
  max-width: 500px;
}

.general-alert--success {
  background: #e0ffe6;
  color: #10660b;
  border: 1.5px solid #47ba36;
}
.general-alert--error {
  background: #ffe0e0;
  color: #A72608;
  border: 1.5px solid #F44336;
}
.general-alert--info {
  background: #e9f6ff;
  color: #0c3d5d;
  border: 1.5px solid #65a6df;
}
.general-alert--warning {
  background: #fff6e0;
  color: #8d5a00;
  border: 1.5px solid #efc96f;
}

.general-alert-close-btn {
  background: transparent;
  color: inherit;
  font-size: 1.4em;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}
